.sm {
	width: 36.2rem;
	height: 4.2rem;
	border-radius: 0.4rem;

}

.sm>.contenido {
	width: 36.2rem;
	height: 3.9rem;
	border-radius: 0.4rem;
	outline: none;
	border: 0 currentColor var(--slate100);
}

.md {
	width: 45.5rem;
	height: 4rem;
	border-radius: 0.4rem;

}

.md>.contenido {
	width: 45.5rem;
	height: 3.7rem;
	border-radius: 0.4rem;
	outline: none;
	border: 0 currentColor var(--slate100);
}

.lg {
	width: 53.4rem;
	height: 4.2rem;
	border-radius: 0.4rem;
}

.lg>.contenido {
	width: 53.4rem;
	height: 3.9rem;
	border-radius: 0.4rem;
	outline: none;
	border: 0 currentColor var(--slate100);
}

.borders {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 2rem;
	color: #6B7280;
	padding: 1rem;
	border: 0.1rem solid var(--slate200);

}

.contenido {
	padding: 0.5rem;
	font-family: var(--fontA);
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;



}