.sm {
	width: 28.7rem;
	height: 4.2rem;
	border-radius: 0.4rem;
}

.sm>.contenido {
	width: 28.2rem;
	height: 4.2rem;
	outline: none;
	border: 0;
	border-radius: 0.4rem;
}

.file {
	width: 17rem;
	height: 3.9rem;
	border-radius: 0.4rem;
}

.file>.contenido {
	width: 17rem;
	height: 3.9rem;
	border-radius: 0.4rem;
	outline: none;
	border: 0;
	border-radius: 0.4rem;
}


.md {
	width: 28.8rem;
	height: 4.2rem;
	border-radius: 0.4rem;
}

.md>.contenido {
	width: 28.8rem;
	height: 4.2rem;
	outline: none;
	border: 0;
	border-radius: 0.4rem;

}

.lg {
	width: 59.2rem;
	height: 4.2rem;
	border-radius: 0.4rem;
}

.lg>.contenido {
	width: 59.2rem;
	height: 4.2rem;
	outline: none;
	border: 0;
	border-radius: 0.4rem;
}

.xl {
	width: 62rem;
	height: 4.2rem;
	border-radius: 0.4rem;
}

.xl>.contenido {
	width: 60rem;
	height: 4.2rem;
	outline: none;
	border: 0;
	border-radius: 0.4rem;
}

.borders {
	outline: 0.2rem solid var(--neutral300);
	margin-top: 0.8rem;
	margin-bottom: 0.6rem;
}

.contenido {
	padding: 0.7rem;
	font-family: var(--fontA);
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
}


input[type=file] {
	background-attachment: fixed;
	outline: none;
	border: none;
}

/* /PARA DESACTIVAR LAS FLECHAS DE LOS INPUTS NUMBER/ */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.textTitle {
	margin-bottom: 0.6rem;
	font-family: var(--fontA);
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.9rem;
	color: var(--neutral800);
}

.textSubTitle {
	margin-bottom: 0.6rem;
	font-family: var(--fontA);
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.9rem;
	color: var(--neutral800);
}

.contenido:disabled {
	background: var(--neutral100);
	cursor: no-drop;
	border: 0.1rem solid var(--neutral300);
	color: black;
}

.errorCont {
	background-color: var(--red50);
}

.emailError {
	outline: 0.2rem solid var(--red500);
}

.focusStyle {
	outline: 0.2rem solid var(--celeste400);
}

span {
	margin-left: 1.5rem;
	color: red;
	margin-top: -1.5rem;
	font-family: var(--fontA);
	font-style: normal;
	font-weight: 500;
	align-items: flex-end;
	font-size: 1.2rem;
}

::placeholder {
	color: var(--gray400);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	opacity: 1;
	filter: invert(0.6);
	height: 2rem;
	width: 2rem;
	background-image: url('https://res.cloudinary.com/dtwp0t9tn/image/upload/v1672934610/calendar-blank_cfqsxn.svg');
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
	opacity: 1
}
  .containerInput{
	position: relative;
  }