.sizeImg {
  /* Logo Green House by icorp_Color 1 */
  background: url('https://res.cloudinary.com/dtwp0t9tn/image/upload/v1668021067/Logo_Green_House_by_icorp_Color_1_1_bzrmxo.png');
  position: absolute;
  width: 12.636rem;
  height: 3.2rem;
  margin-top: 1.5rem;
  margin-left: 2.4rem;
}
