.multiSelect {
    position: relative;

}

.containerSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--slate200);
    border-radius: .4rem;
    margin-top: .8rem;

}

.tittleHeader {
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;

    /* identical to box height */


    /* v1.5/Neutral/800 */

    color: var(--neutral800);
}

.containerSelect>p {
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    /* v1.5/Blue/500 */

    background: var(--blue500);
}

.badge>p {
    color: white;
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 600;
    font-size: 0.96rem;
}

.dropdown {
    position: absolute;
    min-height: 2.4rem;
    background-color: white;
    border-radius: .4rem;
    left: 0;
    top: 4.4rem;
    z-index: 100;
}

.containerItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    min-width: 22.4rem;
}

.firstSelectedItem {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.containerText{
    width: 54.8rem;
    outline: none;
    border: none;
    
}