.contenedorLanguage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 1rem 0rem 0rem;
  /* position: absolute; */
  width: 11.3rem;
  height: 3.2rem;
  right: 8.3rem;
  top: 1.6rem;
  background: #f3f4f6;
  border-radius: 4rem;
  
}

.textLanguage {
  gap: 10px;
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--gray600);
  line-height: 2rem;
  border: 0 #f3f4f6;
  background: #f3f4f6;
  outline: none;
  appearance: none;
	background-image: url('https://res.cloudinary.com/dtwp0t9tn/image/upload/v1673549873/Vector_2_ffqjzx.svg');
	background-position: left 5.4rem top 0.8rem;
	background-repeat: no-repeat;
  width: 20rem;
}

.iconStyles {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.options {
  /* gap: 10px; */
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 #f3f4f6;
  background: #f3f4f6;
}