.container {
  max-width: 111.6rem;
  padding: 3.6rem;
  margin: 0 auto;
}
.containerHeader {
  position: relative;
  height: 24rem;
  width: 100%;
}
.containerCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.6rem;
}
.containerBody {
  max-width: 106.9rem;
  padding-right: 2.6rem;
  padding-left: 2.6rem;
  margin: 0 auto;
}
.containerNewWords {
  max-width: 106.9rem;
  padding-right: 2.6rem;
  padding-left: 2.6rem;
  margin: 0 auto;
  margin-top: 5.9rem;
}
.containerCategories {
  max-width: 106.9rem;
  padding-right: 2.6rem;
  padding-left: 2.6rem;
  margin: 0 auto;
  margin-top: 2.6rem;
}
.containerNameButtton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 57.3%;
}
.containerTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 2.3rem;
}
.space-text {
  position: absolute;
  width: 69%;
  height: 0.1rem;
  background: var(--gray300);
}
.titleHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  gap: 50%;
  margin-bottom: 1.6rem;
}
