.containerUser {
  max-width: 112.1rem;
  padding: 3.6rem;
  margin: 0 auto;
}
.containerHeaderUsers {
  max-width: 112.1rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}
.titleUsers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  gap: 50%;
  margin-bottom: 1.6rem;
}
.space-text {
  position: absolute;
  width: 65%;
  height: 0.1rem;
  background: var(--gray300);
}
.containerSearch {
  margin-top: 3.3rem;
  display: flex;
  flex-direction: row;
  padding: 0rem;
  justify-content: space-between;
}
.roundsButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.textLanguage {
  gap: 10px;
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 #f3f4f6;
  background: #f3f4f6;
  outline: none;
}


.options {
  /* gap: 10px; */
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 #f3f4f6;
  background: #f3f4f6;
}

.textOps {
  gap: 10px;
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 #f3f4f6;
  background: #f3f4f6;
  outline: none;
}

.options {
  /* gap: 10px; */
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 0 #f3f4f6;
  /* background: #f3f4f6; */
}

.containerTable {
  max-width: 111.6rem;
  margin: 0 auto;
  margin-top: 2.4rem;
}
.containerCard {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  
}

.floatingBtn {
	position: fixed;
	bottom: 4rem;
	left: 2rem;
	transition: all 300ms ease 0ms;
	box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
	z-index: 99;
}