.containerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 2.4rem;
}
.textStyle {
  font-family: var(--fontA);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;

  color: var(--gray500);
  /* identical to box height, or 143% */

  /* Gray/500 */
}
.containerButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem;

  width: 3.6rem;
  height: 3.6rem;

  /* white */

  background: #ffffff;
  /* Gray/300 */

  border: 0.1rem solid var(--gray300);
  border-radius: 7rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.containerButton:hover {
  background: #f3f4f6;
}

.propsIcon {
  color: #737373;
}
.propsIcon:hover {
  color: #f97316;
}
.containerArrows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 0.8rem;
}
