.containerMessage{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 4px;

    width: 328px;
    height: 68px;
    left: 32px;
    top: 0px;

    /* Neutral/900 */

    background: #171717;
    border-radius: 4px;
}

.containerTxt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.6rem;

    width: 25.6rem;
    height: 2.4rem;
}
.styleFont{
    
font-family: var(--fontA);
font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 1.9rem;
/* identical to box height */


/* Neutral/200 */

color: var(--neutral200);
}
.buttonOK{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.6rem 0.8rem;
width: 3.6rem;
height: 3.6rem;
border-radius: 0.8rem;
cursor: pointer;
}

.OK{
    
font-family: var(--fontA);
font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 2.4rem;
color: var(--orange600);

}