.cardsContainer {
    display: flex;
    flex-direction: row;
    width: 32.4rem;
    background-color: white;
    box-shadow: 0rem 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1),
      0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    z-index: 10;
  }
  
  .cardsContainer:hover {
    box-shadow: 0rem 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1), 0rem 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .containerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
    gap: 0.8rem;
  }
  
  .containerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 29.1rem;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .textHeader {
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  
  .textBody {
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  
  .containerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    margin: 1.6rem;
  }
  
  
  .circleButtonHeader {
    /* margin-top: 1.2rem; */
  
    margin-left: 25.6rem;
    margin-right: 1.8rem;
    margin-bottom: 15rem;
    position: absolute;
  }
  
  .containerOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.6rem 0rem;
    width: 14.6rem;
  
    /* white */
  
    background: #FFFFFF;
    box-shadow: 0rem -0.1rem 0.8rem rgba(0, 0, 0, 0.1), 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
  }
  
  .containerPopOver {
    z-index: 100;
    position: absolute;
    margin-left: -5.7rem;
  }
  
  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1.6rem;
    gap: 0.8rem;
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .option:hover {
    background: #F3F4F6;
  }
  
  .option>button {
    font-family: var(--fontA);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: .8rem;
    color: var(--neutral800);
  }
  .option>button{
    outline: none;
    border: none;
    background: none;
  }